.denomination_btn {
  background: #382f5a;
  border: 1px solid #d4d2db;
  border-radius: 4px;
  color: #d4d2db;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 160px;
  font-weight: 500;
  font-size: 20px;
}
.denomination_btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 568px) {
  .denomination_btn {
    padding: 4px;
    margin-right: 6px;
    margin-bottom: 10px;
    width: 110px;
    font-size: 17px;
  }
}
